<%- include('../partials/head') %>

<div class="row">
    <h1 class="text-center">Edit campground</h1>

    <div class="col-6 offset-3">
        <form class="needs-validation" action="/campgrounds" method="post" novalidate>
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%=campgroundInfo.title%>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    value="<%=campgroundInfo.location%>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image url</label>
                <input class="form-control" type="text" id="image" name="campground[image]"
                    value="<%=campgroundInfo.image%>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price">€</span>
                    <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.00"
                        aria-label="Price" value="<%=campgroundInfo.price%>" required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required> <%=campgroundInfo.description%></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Edit campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%=campgroundInfo._id%>">Back to campground</a>
    </div>
</div>

<%- include('../partials/footer') %>